.navbar_container{
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  position: relative;
  width: 100%;
  /* background-color: #f02d34; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}