.root {
  padding: 100px 20px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;
}

.beats_solo{
  font-size: 20px;
}

.hero_banner_container_button{
border-radius: 15px;
 padding: 10px 16px;
 background-color: #f02d34;
 color: white;
 border: none;
 margin-top: 40px;
 font-size: 18px;
 font-weight: 500;
 cursor: pointer;
 z-index:10000 !important;
}

.hero_banner_container_h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero_banner_container_h1{
  color: white;
  font-size: 10em;
  text-transform: uppercase;
}

.hero_banner_image{
  position: absolute;
  top: 0%;
  right:20%;
  width: 450px;
  height: 450px;
}

.desc{
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
  }

.desc_p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc_h5{ 
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  align-self: flex-end;
}
 
@media screen and (max-width:800px) {
  .root{
    height: 560px;
  }

  .hero_banner_container_h3{
    font-size: 3rem;
  }

  .hero_banner_image{
    width: 75%;
    height: 50%;
    top: -2%;
    right: -0%;
  }
  .hero_banner_container_h1{
    font-size: 8em;
  }
}